.box{
    display: flex !important;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

.CardSize{
    width:150px;
    max-width: 150px; 
    max-width: 150px;
    height: 150px;

}