
.labl{
  color: var(--text-color-au);
  font-size: 12px;
  text-align: left;
}
.labl:hover{
  color: var(--boder-colors-hover);
}
.avatar{

  background: url('../../../res/logo.png');
  background-size: cover;
  width: 100px;
  height: 100px;
  display: block;
  margin: auto;
}
.f-li{
    font-weight: 400;
}
.border-rad{
  border-radius: 13px !important;
  color: #7d7d7d;
}
.titulo{
  color: var(--text-color-au);
}
.advertencia{
  font-size: 9px;
  text-align: left;
  color: var(--text-color-au);
}
.separador{
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 23px;
}
.text-danger {
  color: #ff6161;
  font-size: 12px;
}
.iconSon{
  position: fixed;
  right: 10px;
  top: 10px;
}

.ColorBtn{
  color:var(--text-color) ;
}
.input{
  background-color: var(--background-color) !important;
  border: 1px solid var(--boder-colors) !important;
  border-radius: 9px !important;
}

.input:hover {
  background-color: var(--background-color) !important;
  border: 1px solid var(--p-card-color) !important;
}
