<div class="bg-cover bg-center creativeBox" [ngClass]="{'customerBGntg': theme === 'primeone-dark', 'customerBGday': theme !== 'primeone-dark'}">
    <div class="container">
      <div class="card-item cristal">1</div>
      <div class="card-item cristal">2</div>
      <div class="card-item cristal">3</div>
      <div class="card-item cristal">4</div>
      <div class="card-item cristal">5</div>
      <div class="card-item cristal">6</div>
      <br><br><br><br>
    </div>
    <p-button class="iconSon" [icon]="icons" [rounded]="true" [text]="true" (click)="ColorTheme()" />

  </div>
