.bg{
    width: 100%;
    background: url('../../assets/fondo-demo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 13px;
}
.box{
    width: 24rem;
    height: 25rem;
    background: #2323233d;
    margin: 7rem;
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 19px;
}