body , html {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.avatar{
  border-radius: 100%;
  border: 2px solid #7cfc00;
}
.f-li{
    font-weight: 400;
}
.advertencia{
  font-size: 10px;
  text-align: left;
  color: #7d7d7d;
}
.separador{
  margin-top: 2rem;
}
.text-danger {
  color: red;
}
