/* Importación de fuentes y otros recursos */
@import url('https://fonts.cdnfonts.com/css/jetbrains-mono');
@import "primeflex/primeflex.css";
@import "primeflex/themes/primeone-light.css";
@import "primeflex/themes/primeone-dark.css";
@import 'primeicons/primeicons.css';

/* Definición de variables globales */
:root {
/*   color: #034894;
  color: #98D5F4; */
  /* Variables light */
  --background-color-light: #FFFFFF;
  --text-color-btn-light: #fff;
  --border-solid-light: #034894;
 --boder-colors-hover-light: #034894;
  --primary-color-light: #204A63;
  --button-background-light: #204A63;
  --text-color-light-au: #034894;
  --border-solid-light: #034894;


  /* Variables dark */
/*   --text-color-dark: #ffffff;
  --border-solid-dark: #d8d8d8;
  --primary-color-dark: #98D5F4;
  --background-color-dark: #204A63;
  --button-background-dark: #98D5F4;
  --boder-colors-hover-dark: #204A63; */
}

/* Tema claro */
[data-theme="primeone-light"] {
  --p-card-background: var(--background-color-light);
  --p-toolbar-background: var(--background-color-light);
  --p-card-color: var(--text-color-light);
  --p-button-primary-color: var(--text-color-light);
  --p-button-text-plain-color: var(--text-color-light);
  --background-color: var(--background-color-light);
  --text-color: var(--text-color-light);
  --text-color-au: var(--text-color-light-au);
  --p-primary-color: var(--primary-color-light);
  --p-button-background: var(--button-background-light);
  --boder-colors: var(--border-solid-light);
  --boder-colors-hover: var(--boder-colors-hover-light);
}

/* Tema oscuro */
/* [data-theme="primeone-dark"] {
  --p-card-background: var(--background-color-dark);
  --p-toolbar-background: var(--background-color-dark);
  --p-button-primary-color: var(--text-color-dark);
  --p-card-color: var(--text-color-dark);
  --p-button-text-plain-color: var(--text-color-dark);
  --background-color: var(--background-color-dark);
  --text-color: var(--text-color-dark);
  --text-color-au: var(--text-color-dark);
  --p-primary-color: var(--primary-color-dark);
  --p-button-background: var(--button-background-dark);
  --boder-colors: var(--border-solid-dark);
  --boder-colors-hover: var(--boder-colors-hover-dark);
}
 */
html, p, span, h1, h2, h3, h4, h5, h6, b, i {
  font-family: 'JetBrains Mono', sans-serif;
}

body {
  background-color: var(--background-color);
  overflow: hidden;
}

.cristal {
  background: rgba(255, 255, 255, 0.2); /* Fondo blanco semi-transparente */
  border-radius: 15px;
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  -webkit-backdrop-filter: blur(10px); /* Para Safari */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
}