<div class="flex flex-column gap-3 box">
    <div class="cab"> 
        <p-button styleClass="border border-primary" pTooltip="OneCore" variant="outlined" severity="contrast" icon="pi pi-microsoft" />
    </div>

    <div class="itemGen">
        @for (item of Opciones; track $index) {
            <p-button styleClass="btnGen" [pTooltip]="item.nombre" [icon]="'pi ' + item.icono"  
            [text]="item.bool" [variant]="item.variant"  [severity]="item.severity" 
            (click)="op.toggle($event)"
            />
        }
    </div>
    <p-overlay-badge value="4" severity="danger" class="inline-flex">
            <p-avatar label="RM" styleClass="w-2rem h-2rem" />
    </p-overlay-badge>

</div>

<p-popover #op>
        <h2>
            Opciones de menu flotante
        </h2>
</p-popover>