
.box {
    --tw-bg-opacity: 1;
    background-color: color-mix(in srgb, var(--bg-lig) calc(100% * var(--tw-bg-opacity, 1)), transparent);
    display: flex;
    flex-direction: column; /* Ya está en tus clases */
    gap: 1rem; /* También ya lo tienes */
    height: 97vh;
    padding: 12px;
    border-radius: 13px;
    margin-left: 1px;
}
::ng-deep {
   .p-button {
        border-radius: 11px;
        width: 42px;
        height: 42px;
    }
}


.itemGen {
    margin-top: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 31rem; /* Altura fija del contenedor */
    overflow-y: auto; /* Activa el desplazamiento vertical */
    scrollbar-width: none; /* Oculta la barra en navegadores compatibles (Firefox) */
}

/* Ocultar la barra por defecto */
.itemGen::-webkit-scrollbar {
    width: 0; /* Oculta la barra en navegadores Webkit */
}

/* Mostrar la barra en hover o cuando se desplaza */
.itemGen:hover::-webkit-scrollbar,
.itemGen:active::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra visible */
}

.itemGen:hover::-webkit-scrollbar-thumb,
.itemGen:active::-webkit-scrollbar-thumb {
    background-color: #000; /* Color del scroll */
    border-radius: 4px; /* Bordes redondeados */
}

.itemGen:hover::-webkit-scrollbar-track,
.itemGen:active::-webkit-scrollbar-track {
    background:  #000;/* Fondo de la pista */
}
